*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --cinza-200:#fefefe;
    --branco-text:#f8f8f8;
    --cinza-100:#e2e2e2;
    --cinza-escuro:#29292e;
    --cinza:#737380;
    --cinzaclaro: #a8a8b3;
    --red:#ea4335;
    --rosa-claro:#e559f9;
    --color-link:#835AFD;
    
    --roxo:#006c67;
    --green:#003844;
    --pink:#f194b4;
    --yellow:#ffb100;
    --rosa:#ffebc6;
}

body{
    background: var(--white);
    color: var(--cinza-escuro);
}

body,
input,
button,
textarea{
    font: 400 16px 'Roboto', sans-serif;
}